table.medpc-ast-displayer {
  font-family: monospace;
  table-layout: fixed;

  th:nth-child(1) {
    width: 10%;
  }

  th:nth-child(2) {
    width: 90%;
  }

  th, td {
    border: 1px solid gray;
  }
}
